/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .count-holder {
    display: inline-block;
    padding:0px 10px 10px;
    border-radius: 3px;
    background: rgb(5, 31, 87);
    color: #fff;
    margin:2px;
  }